.section-faq{
    padding: 105px 0;
}
.accordion-item{
    margin-bottom: 16px;
    border: 1px solid #D4D4D4 !important;
}
.accordion-button{
    font-weight: 700;
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 812px)   {
    .section-faq {
        padding: 50px 0 0 0 !important;
    }
  }
