.heroSection {
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #f1f3ff;
  }
  
  .heroContentNew {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .heroContent {
    padding: 1rem;
    width: 100%;
    height: auto;
  }
  
  .heroContent h1 {
    font-size: 36px;
    font-weight: 700;
  }
  
  .heroContent p {
    width: auto;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 1rem;
  }
  
  @media (min-width: 768px) {
    .heroSection {
      flex-direction: row;
      margin-top: 60px;
    }
    
  
    .heroImage {
      margin-right: 0;
    }
  }
  @media (max-width: 690px) {
    .heroSection {
      margin-top: 50px;
    }
}
  
  @media (min-width: 1024px) {
    .heroSection {
      height: auto;
    }
  
    .heroContent {
      padding: 3rem 5rem;
    }
  
    .heroImage {
      margin-top: 5rem;
    }
  }